$color-bg-secundary: #070709;
$color-bg-primary: #434256;
$color-text: #fff;
$color-text-secundary:grey;
$color-text-modal: #000;
$color-icon: #d9d900;

$width-sidebar: 220px;
$height-playing-bar:95px;
$width-avatar: 30px;

$colorBar1 :#007bff;
$colorBar2 :#00ffff;
$colorBar3 :#fffbff;