html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
    color:$color-text;
    background: $color-bg-secundary;
    background: -webkit-linear-gradient(bottom, $color-bg-secundary 0%, $color-bg-primary 100%);
    background: -o-linear-gradient(bottom, $color-bg-secundary 0%, $color-bg-primary 100%);
    background: linear-gradient(to top, $color-bg-secundary 0%, $color-bg-primary 100%);
    text-align: center;
}

a:hover {
    text-decoration: none;
}
#wrapper {
    min-height: 100%;
    position: relative;
    display: flex;
}

#content {
    padding-left: 244px;
    padding-right: 24px;
    padding-bottom: $height-playing-bar;
    padding-top: 24px;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
}

button.btn {
    border-radius: 50px;
}


.iconStar {
    color:#fff;
    font-size: 20px;
}
.iconStarActive {
    font-size: 20px;
    color:$color-icon
}
.pointer {cursor: pointer;}

h1.title {
    margin-bottom:50px;
}

@media (max-width: $xs) {
    #content {
        padding-left:24px;
    }
}